{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('product_list') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('product_list') }}" title="Product list">Products list</a></li>
        <li class="active">Details</li>
    </ol>

    <h2 class="page-header">{{ product.name }}</h2>

    <ul class="list-group">
        <li class="list-group-item"><strong>Price:</strong> {{ product.price }}</li>
        <li class="list-group-item"><strong>Type:</strong> {{ product.type.name }}</li>
    </ul>

{% endblock %}
