{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('product_list') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('product_list') }}" title="Product list">Product list</a></li>
        <li class="active">Edit</li>
    </ol>

    <h2 class="page-header">Edit Product</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
