{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('product_list') }}" title="Home page">Home</a></li>
        <li class="active">Product list</li>
    </ol>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>price</th>
            <th>type</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>

        <h2 class="page-header">List</h2>

        {% if products is defined %}
            {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.type.name }}</td>
                <td><a href="{{ path('product_details', {'id': product.id}) }}" class="btn btn-success" title="View task">View</a></td>
                <td><a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary" title="Edit task">Edit</a></td>
                <td><a href="{{ path('product_delete', {'id': product.id}) }}" class="btn btn-danger" title="Delete task">Delete</a></td>
            </tr>
            {% endfor %}
        {% else %}
            No data to view.
        {% endif %}
        </tbody>
    </table>
{% endblock %}
