{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('product_list') }}" title="Home page">Home</a></li>
        <li class="active">Product sums</li>
    </ol>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type id</th>
            <th>Sum</th>
            <th>Count of items</th>
        </tr>
        </thead>
        <tbody>

        <h2 class="page-header">List</h2>

        {% if products is defined %}
            {% for product in products %}
            <tr>
                <td>{{ product.type }}</td>
                <td>{{ product.sum }}</td>
                <td>{{ product.counter }}</td>
            </tr>
            {% endfor %}
        {% else %}
            No data to view.
        {% endif %}
        </tbody>
    </table>
{% endblock %}
